#gcg-node-address-map {
  height: 200px;
}
.gcg-node-address-block {
  width: 210px;
  margin: 0 0 1.5em;
}
.gcg-node-address-floated-right {
  float: right;
  padding: 0 0 0 15px;
}
.gcg-node-address-floated-left {
  float: left;
  padding: 0 15px 0 0;
}
