#gcg-search-result {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
  z-index: 100;
}
#gcg-search-result ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#gcg-search-result li {
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
  padding: 2px;
  margin: 0;
}
#gcg-search-result li.selected {
  background: #0072b9;
  color: #fff;
}

.gcg-disabled-item, .gcg-disabled-select {
  background-color: #E9E9E9;
}